/* Bacjground image */
body {
	height: 100%;
	/*margin-top: 50px;
	margin-bottom: 50px;*/
	background: none;
}

.fd-full-bg-image {
	background: url("./bg-image.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
/************************************/




.fd-empty-header h1{
	/*margin-bottom: 4%;*/
	color: #fff;
}
/************************************/
/* Navigation tab list */
.fd-nav-list a{
	background-color: #494341;
	color: #0089ff;
	border-color: #686868;
}
.fd-nav-list a:hover, a:focus {
  	background-color: #fff;
}
/***********************************/
/* Main container */
.fd-main-container{
	background-color: #494341;
	color: #0089ff;
}
/************************************/
/* List with skills */
.fd-skill-list div.row{
	margin-bottom: 10px;
}




.fd-no-padding{
	padding: 0px;
}
.fd-no-margin{
	margin: 0px;
}